{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
    
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Su di me</h5>
    <div class="card-body">
        <p class="card-text"> Sono un programmatore informatico, appasionato di Linux e Python! Questo è il mio viaggio attraverso la scoperta di varie tecnologie e linguaggi di programmazione!</p>
        <a href="https://github.com/We4theReport"
        class="btn btn-danger">Per saperne di più!</a>
    </div>
</div>
</div>

{% endblock sidebar %}